body {
    background-color: rgb(182, 206, 141);
    margin: 0;
}

.quote {
    width: 492px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.quote-author {
    align-self: flex-start;
    padding: 0px 59px;
}

.quote-author-one {
    color: snow;
    font-size: 14px;
    font-family: 'Roboto Slab', Serif;
    font-style: italic;
}

.quote-author-two {
    color: wheat;
    font-size: 14px;
    font-family: 'Catamaran', Sans-Serif;
    font-style: italic;
}

.quote-author-three {
    color: black;
    font-size: 14px;
    font-family: 'Bitter', Serif;
    font-style: italic;
}

.quote-text {
    font-size: 34px;
    font-family: 'Ruda', Sans-Serif;
    padding: 0px 15px;
    margin: 40px;
}

.quote-text-one {
    color: snow;
    border-left: 4px solid darkolivegreen;
}

.quote-text-two {
    color: wheat;
    border-left: 4px solid rgb(207, 77, 17);
}

.quote-text-three {
    color: black;
    border-left: 4px solid orange;
}

.quote-container-one {
    color: rgb(182, 206, 141);
    background-color: darkkhaki;
}

.quote-container-two {
    color: burlywood;
    background-color: coral;  
}

.quote-container-three {
    color: goldenrod;
    background-color: rgb(243, 223, 136);
}

.section {
    padding: 40px 0;
}
.section-one{
    background-color: rgb(182, 206, 141);
}

.section-two{
    background-color: lightsalmon;
}

.section-three{
    background-color: lemonchiffon;
}

.quote-image-container {
    width: 100%;
}

.quote-image {
    width: 100%;
}
