body {
    background-color: rgb(182, 206, 141);
    margin: 0;
}
.movie-1 {
    color: snow;
    font-size: 14px;
    font-family: 'Roboto Slab', Serif;
    font-style: italic;
}

.movie-2 {
    color: wheat;
    font-size: 14px;
    font-family: 'Catamaran', Sans-Serif;
    font-style: italic;
}

.movie-3 {
    color: black;
    font-size: 14px;
    font-family: 'Bitter', Serif;
    font-style: italic;
}

.quote-1 {
    color: snow;
    font-size: 32px;
    font-family: 'Ruda', Sans-Serif;
    padding: 0 15px;
    border-left: 4px solid darkolivegreen;
}

.quote-2 {
    color: wheat;
    font-size: 34px;
    font-family: 'Lato', Sans-Serif;
    padding: 0 15px;
    border-left: 4px solid rgb(207, 77, 17);
}

.quote-3 {
    color: black;
    font-size: 34px;
    font-family: 'PT Sans', Sans-Serif;
    padding: 0 15px;
    border-left: 4px solid orange;
}

.quote-container1 {
    color: rgb(182, 206, 141);
    background-color: darkkhaki;
    width: 400px;
    height: fit-content;
    margin: 40px auto;
    padding: 46px;   
}

.quote-container2 {
    color: burlywood;
    background-color: coral;
    width: 400px;
    height: fit-content;
    margin: 40px auto;
    padding: 46px;   
}

.quote-container3 {
    color: goldenrod;
    background-color: rgb(243, 223, 136);
    width: 400px;
    height: fit-content;
    margin: 40px auto;
    padding: 46px;  
}

.section-one{
    background-color: rgb(182, 206, 141);
    padding: 50px;
}

.section-two{
    background-color: lightsalmon;
    padding: 50px;
}

.section-three{
    background-color: lemonchiffon;
    padding: 50px;
}


img {
    width: 492px;
    margin: -46px -46px 0px -46px;
}
